<%- include('partials/head', { title: 'Log In' }) %>
<section class="auth-panel">
  <h1>Log In</h1>
  <form action="/login" method="post" class="stack">
    <label>
      Username
      <input name="username" autocomplete="username" required>
    </label>
    <label>
      Password
      <input name="password" type="password" autocomplete="current-password" required>
    </label>
    <button class="primary" type="submit">Log In</button>
  </form>
  <p>Need an account? <a href="/register">Register</a>.</p>
</section>
<%- include('partials/foot') %>
