<%- include("partials/page_start", { title: "Error" }) %>

<section class="auth-panel">
  <h1>Error</h1>
  <p class="notice"><%= message %></p>
  <a class="button" href="/">Back home</a>
</section>

<%- include("partials/page_end") %>
