<%- include('partials/header') %>
<section class="panel">
  <h1>Forbidden</h1>
  <p class="muted">You do not have permission to perform that action.</p>
  <p><a class="button" href="/">Go home</a></p>
</section>
<%- include('partials/footer') %>
