<%- include('partials/header') %>
<section class="panel">
  <h1>Server error</h1>
  <p class="muted">Something went wrong. Reference: <%= requestId %></p>
  <p><a class="button" href="/">Go home</a></p>
</section>
<%- include('partials/footer') %>
