<%- include('partials/start', { title: 'Error' }) %>
<section class="panel auth">
  <h1>Error</h1>
  <p><%= message %></p>
  <p><a href="/">Return home</a></p>
</section>
<%- include('partials/end') %>
