<%- include("partials/header") %>

<section class="panel narrow">
  <h1><%= status %></h1>
  <p><%= message %></p>
  <a class="button-link" href="/">Return to feedback form</a>
</section>

<%- include("partials/footer") %>
