<%- include('partials/start', { title }) %>
<section class="panel narrow">
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a class="button" href="/">Return home</a>
</section>
<%- include('partials/end') %>
