<%- include('partials/header') %>
<div class="card empty">
  <h1>404</h1>
  <p class="muted">That page or user doesn't exist.</p>
  <p><a href="/">Go home</a></p>
</div>
<%- include('partials/footer') %>
