<%- include('partials/header') %>
<section class="panel narrow">
  <h1>Error</h1>
  <p><%= message %></p>
  <a class="button secondary" href="/">Go home</a>
</section>
<%- include('partials/footer') %>
