<%- include('partials/head') %>

<div class="error-page">
  <h1><%= status %></h1>
  <p><%= message %></p>
  <p><a href="/">Return to the FAQ home page</a></p>
</div>

<%- include('partials/foot') %>
