<%- include("partials/open", { title }) %>
<section class="panel narrow">
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a class="button-link" href="/">Return home</a>
</section>
<%- include("partials/close") %>
